body {
  background: #ececec;
}

.todos {
  flex-direction: column;
  display: flex;
  justify-content: center;
  background: #FFF;
  border-radius: 2px;
  width: 500px;
  margin: 50px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding:10px;
  border-bottom: 1px solid #3333332e;
  position: relative;
}

.check-icon {
  display: none;
}

li:hover > .check-icon{
  position: absolute;
  right: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  color: #33333373;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: none;
  border-bottom: 1px solid #3333332e;
}

button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  color: #3333332e;
}

form {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;  
}
